REPORT_HUB_HOST=0.0.0.0
REPORT_HUB_PORT=58787
REPORT_HUB_PUBLIC_BASE_URL=http://211.86.155.100:58787
REPORT_HUB_AGENT_TOKEN=replace-with-a-long-random-token
REPORT_HUB_DATA_DIR=./data
REPORT_HUB_MAX_UPLOAD_MB=256
REPORT_HUB_MAX_EXPANDED_MB=1024
